extends header.pug 

block navigate
    header 
        nav    
            a(href="http://localhost:3000/" style="color:black;") Home
            a(href="http://localhost:3000/posts" style="color:black;") Post
            a(href="http://localhost:3000/login" style="color:black;") Login  
            a(href="http://localhost:3000/sign-up" style="color:black;") Sign Up
            
    block content