extends header.pug 

block navigate
    header 
        nav    
            a(href="/" style="color:black;") Home
            a(href="/posts" style="color:black;") Post
            if isAuthenticated
                a(href="/logout" style="color:black;") Logout  
            else
                a(href="/login" style="color:black;") Login  
                a(href="/sign-up" style="color:black;") Sign Up
    block content