extends ./layouts/nav.pug

block content 
    main 
        h1 Write Your Posts
        form(class="postForm" action=`/update-process/postId=${postId}` method="POST")
            div
                label Name
                input(class="postUserName" type="name" name="authorName" value=`${authorName}`)
            div
                label Title
                input(class="postTitle" type="title" name="postTitle" value=`${postTitle}`) 
            div
                label Content
                input(class="postContent" type="text" name="postContent" value=`${postContent}`) 
            button(type="submit") Post

    script(src="/post.js") 